notebooks/computer-science/.ipynb_checkpoints/
notebooks/deeplearning/.ipynb_checkpoints/
notebooks/nlp-100/.ipynb_checkpoints/
notebooks/numpy-100/.ipynb_checkpoints/
notebooks/playground/.ipynb_checkpoints/
*.txt
*.png
*.gz
*.cabocha
*.mecab
*.png
*.png
*.xml
*.zip
*.jpg
*.model
*.gz
*.zip
